{% extends 'base.html' %}

{% load i18n %}

{% block title %} Add Address {% endblock title %}

{% block content %}
    <div class="widget change-password">
        <h3 class="widget-header user">
            {% translate "Add Address" %}
        </h3>
        {% if form.errors %}
            <div class="alert alert-danger d-flex justify-content-center align-items-center">
                <span>
                    {{ form.errors }}
                </span>
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="current-password">
                    {% translate "City" %}
                </label>
                {{ form.city }}
            </div>
            <div class="form-group">
                <label for="new-password">
                    {% translate "Street" %}
                </label>
                {{ form.street }}
            </div>
            <div class="form-group">
                <label for="confirm-password">
                    {% translate "Alley" %}
                </label>
                {{ form.alley }}
            </div>
            <div class="form-group">
                <label for="confirm-password">
                    {% translate "Home Number" %}
                </label>
                {{ form.no }}
            </div>
            <div class="form-group">
                <label for="confirm-password">
                    {% translate "Postal Code" %}
                </label>
                {{ form.postal_code }}
            </div>
            <button class="btn btn-transparent">
                {% translate "Submit Address" %}
            </button>
        </form>
    </div>
{% endblock content %}
