{% extends 'base.html' %}

{% block title %} Edit Profile {% endblock title %}

{% block content %}
    <div class="widget personal-info">
        <h3 class="widget-header user">Edit Personal Information</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_full_name">First Name</label>
                {{ form.full_name }}
            </div>
            <div class="form-group">
                <label for="id_email">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group choose-file d-inline-flex">
                <i class="fa fa-user text-center px-3"></i>
                {{ form.avatar }}
            </div>
            <div class="form-group">
                <label for="id_phone">Phone</label>
                {{ form.phone }}
            </div>
            <button class="btn btn-transparent">Save My Changes</button>
        </form>
    </div>
{% endblock content %}
