{% extends 'base.html' %}

{% load i18n %}

{% block title %} {{ user.full_name|title }} {% endblock title %}

{% block content %}
    <!--==================================
    =            User Profile            =
    ===================================-->
    <section class="user-profile section">
        <div class="container">
            <div class="row">
                {% include 'components/profile/sidebar.html' %}
                <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                    <div class="mb-2">
                        <div class="widget welcome-message">
                            <h2>
                                {% translate "Orders" %}
                            </h2>
                        </div>
                        <div class="row">
                            {% for order in order_list %}
                                <div class="col-md-6 mx-sm-auto px-2 my-2">
                                    <div class="package-content bg-light border text-center p-5 my-2 my-lg-0">
                                        <div class="package-content-heading border-bottom">
                                            <i class="fa fa-check"></i>
                                            <h5>{{ order.create_at }}</h5>
                                            <h4 class="py-3">
                                                <span>${{ order.total_price }}</span>
                                            </h4>
                                        </div>
                                        <ul>
                                            {% for order_item in order.order_item.all %}
                                                <li class="my-4">
                                                    <a href="{% url 'product:product' order_item.shop_product.product.slug order_item.shop_product.id %}">
                                                        <i class="fa fa-barcode"></i>
                                                        <span class="border-bottom text-info px-1">
                                                            {% translate "Count:" %} {{ order_item.count }}
                                                        </span>
                                                        <span class="mx-1 px-1 border-left">
                                                            {{ order_item.shop_product.product.name|title }}
                                                        </span>
                                                        <span class="text-info px-1">
                                                            ${{ order_item.price }}
                                                        </span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mb-2 mt-3">
                        <div class="widget welcome-message">
                            <h2>
                                {% translate "Addresses" %}
                            </h2>
                        </div>
                        <div class="row d-flex justify-content-center">
                            {% for addrs in address %}
                                <div class="card border-info mb-3 mx-2 col-md-3" style="max-width: 18rem;">
                                    <div class="card-header bg-transparent border-info">
                                        {{ addrs.city|capfirst }}
                                    </div>
                                    <div class="card-body text-success">
                                        <h5 class="card-title">{{ addrs.street|capfirst }}</h5>
                                        <p class="card-text">
                                            {{ addrs.city|capfirst }}, {{ addrs.street|capfirst }},
                                            {{ addrs.alley|capfirst }}, {{ addrs.no|capfirst }}
                                        </p>
                                    </div>
                                    <div class="card-footer bg-transparent border-info">
                                        {% translate "Postal Code:" %}
                                        <span class="text-muted"> {{ addrs.postal_code }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}