{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% translate "Product" %}
 {% endblock title %}

{% block content %}
    <div class="widget personal-info">
        <h3 class="widget-header user">
            {% translate "Product Information" %}
        </h3>
        {% if form.errors %}
            <div class="alert alert-danger d-flex justify-content-center align-items-center">
                <span>
                    {{ form.errors }}
                </span>
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="id_phone">
                            {% translate "Slug" %}
                        </label>
                        {{ form.slug }}
                    </div>
                    <div class="col-sm-6">
                        <label for="id_phone">
                            {% translate "Name" %}
                        </label>
                        {{ form.name }}
                    </div>
                </div>
            </div>
            <div class="form-group choose-file d-inline-flex">
                <i class="fa fa-file-image-o text-center px-3 mx-2"></i>
                {{ form.image }}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="id_phone">
                            {% translate "Price" %}
                        </label>
                        {{ form1.price }}
                    </div>
                    <div class="col-sm-6">
                        <label for="id_phone">
                            {% translate "Quantity" %}
                        </label>
                        {{ form1.quantity }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="id_phone">
                            {% translate "Brand" %}
                        </label>
                        {{ form.brand }}
                    </div>
                    <div class="col-sm-6">
                        <label for="id_phone">
                            {% translate "Category" %}
                        </label>
                        {{ form.category }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="id_phone">
                    {% translate "Detail" %}
                </label>
                {{ form.detail }}
            </div>
            <div class="form-group">
                <label for="id_phone">
                    {% translate "Extra Fields" %}
                </label>
                <div class="row">
                    <div class="col-sm-6">{{ form.label }}</div>
                    <div class="col-sm-6">{{ form.value }}</div>
                </div>
            </div>
            <button class="btn btn-transparent">
                {% translate "Save My Changes" %}
            </button>
        </form>
    </div>
{% endblock content %}
