{% load i18n %}

<section class=" section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>
                        {% translate "All Categories" %}
                    </h2>
                    <p>
                        {% translate "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!" %}
                    </p>
                </div>
                <div class="row">
                    {% for category in categories %}
                        <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                            <div class="category-block">
                                <div class="header">
                                    <i class="fa fa-folder icon-bg-{{ forloop.counter }}"></i>
                                    <h4>{{ category.name|title }}</h4>
                                </div>
                                <ul class="category-list">
                                    <li>
                                        <a href="{% url 'product:category' category.slug %}">
                                            {% translate "Products" %} <span>{{ category.get_products.count }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'product:category' category.slug %}">
                                            {% translate "Subcategory" %} <span>{{ category.get_children.count }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'product:category' category.slug %}">
                                            {% translate "Viewer" %} <span>{{ category.product.all.count }}</span>
                                        </a></li>
                                    <li>
                                        <a href="{% url 'product:category' category.slug %}">
                                            {% translate "Detail" %} <span>{{ category.detail|truncatechars:15 }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>