{% load i18n %}

<section class="hero-area bg-1 text-center overly">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-block">
                    <h1>
                        {% translate "Buy & Sell" %}
                    </h1>
                    <p>
                        {% translate "Join the millions who buy and sell from each other <br> everyday in local communities around theworld" %}
                    </p>
                </div>
                <div class="advance-search">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 align-content-center">
                                <form id="search-form">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control my-2 my-lg-0" id="search-product"
                                                   placeholder="What are you looking for">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" class="form-control my-2 my-lg-0" id="search-category"
                                                   placeholder="Category">
                                        </div>
                                        <div class="form-group col-md-2 align-self-center">
                                            <button type="submit" class="btn btn-primary"
                                                    onclick="searchResponse()">
                                                {% translate "Search Now" %}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div id="response-visual" class="my-2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="text-center font-weight-bold border-bottom pb-2">
                                                {% translate "Products" %}
                                            </h4>
                                            <ul id="products-ul" class="p-3"></ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="text-center font-weight-bold border-bottom pb-2">
                                                {% translate "Categories" %}
                                            </h4>
                                            <ul id="categories-ul" class="p-3"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>