  <footer class="bg-dark m-0">
    <div class="row py-3 m-0 w-100 px-2 footer-detail">
      <div class="col-md-6">
        <span class="blockquote-footer">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ea sint
          quo unde nostrum ratione voluptas a nobis aspernatur eius dolores
          optio doloribus, explicabo veniam, nihil sed ab consectetur nulla!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
          quidem velit atque sunt harum officia commodi at, quas illum
          dignissimos impedit eligendi, possimus quos voluptatum unde amet!
          Vel, totam praesentium.
        </span>
      </div>
      <div class="row col-md-6 m-0 w-100">
        <span class="col-md-4 d-flex justify-content-center">
          <ul>
            <li>header</li>
            <li class="text-muted px-2">item</li>
            <li class="text-muted px-2">item</li>
          </ul>
        </span>
        <span class="col-md-4 d-flex justify-content-center">
          <ul>
            <li>header</li>
            <li class="text-muted px-2">item</li>
            <li class="text-muted px-2">item</li>
          </ul>
        </span>
        <span class="col-md-4 d-flex justify-content-center">
          <ul>
            <li>header</li>
            <li class="text-muted px-2">item</li>
            <li class="text-muted px-2">item</li>
          </ul>
        </span>
      </div>
    </div>
    <div class="row border-top py-2 m-0 w-100">
      <div class="col-md-4 d-flex justify-content-center">
        Email address:&nbsp;
        <span class="text-danger">example@gmail.com</span>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        Phone Number:&nbsp;
        <span class="text-danger">+16442932</span>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        Github address:&nbsp;
        <span class="text-danger"> https://example.com</span>
      </div>
    </div>
  </footer>