{% load i18n %}

{% load static %}

{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<section style="position: sticky; top: 0; z-index: 6 !important;  background-color: rgb(255,255,255);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light navigation">
                    <a class="navbar-brand" href="{% url 'siteview:home' %}">
                        <img src="{% static 'images/logo.png' %}" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% if LANGUAGE_CODE == 'fa' %}
                            <ul class="navbar-nav mr-auto main-nav">
                        {% else %}
                            <ul class="navbar-nav ml-auto main-nav">
                        {% endif %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'siteview:home' %}">
                                {% translate 'Home' %}
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-slide">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">
                                {% translate 'Categories' %}
                                <span><i class="fa fa-angle-down"></i></span>
                            </a>
                            <div class="dropdown-menu" id="header-categories"></div>
                        </li>
                        <li class="nav-item dropdown dropdown-slide">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                {% translate 'Shops' %}
                                <span><i class="fa fa-angle-down"></i></span>
                            </a>
                            <div class="dropdown-menu" id="header-shops"></div>
                        </li>
                        </ul>
                        {% if LANGUAGE_CODE == 'fa' %}
                            <ul class="navbar-nav mr-auto mt-10">
                        {% else %}
                            <ul class="navbar-nav ml-auto mt-10">
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link login-button" href="{% url 'account:logout' %}">
                                    {% translate "Sign Out" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white add-button" href="{% url 'account:user_profile' %}">
                                    <i class="fa fa-user"></i>
                                    {{ user.full_name|title }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link cart-icon" href="{% url 'order:cart' %}" dir="ltr">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span id="cart-icon"></span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link login-button" href="{% url 'account:login' %}">
                                    {% translate "Sign In" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white add-button" href="{% url 'account:register' %}">
                                    <i class="fa fa-plus-circle"></i>
                                    {% translate "Sign Up" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link cart-icon" href="{% url 'order:cart' %}" dir="ltr">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span id="cart-icon"></span>
                                </a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
