@media screen and (max-width: 768px) {
    .header-search,
    .navbar-nav {
        justify-content: center !important;
    }

    .action-text {
        font-size: .8em;
    }

    .navbar-brand {
        text-align: center !important;
    }
}

@media screen and (max-width: 418px) {
    .section-one-card,
    .navbar-nav {
        font-size: .8em !important;
    }

    .action-text {
        font-size: .7em;
    }
}