{% extends 'base.html' %}

{% load static %}

{% load mathfilters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'custom/css/custom.css' %}">
{% endblock extra_css %}

{% block title %} Category-{{ category.name|title }} {% endblock title %}

{% block content %}
    <main>
        <!--============================
        =          Search Bar          =
        =============================-->
        {% include 'components/utils/search-bar.html' %}
        <!--============================
        =         Main Category        =
        =============================-->
        <section class="section-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-result bg-gray">
                            <h2>Results For "{{ category|capfirst }}"</h2>
                            <p>{{ object_list|length }} Results on
                                <script>
                                    const CurrentDate = new Date().toLocaleString()
                                    document.write(CurrentDate)
                                </script>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {% include 'components/category/sidebar.html' %}
                    </div>
                    <div class="col-md-9">
                        <div class="product-grid-list">
                            <div class="row mt-30">
                                {% for product in object_list %}
                                    <div class="col-sm-12 col-lg-4 col-md-6" id="product-card{{ forloop.counter }}">
                                        <div class="product-item bg-light">
                                            <div class="card">
                                                <div class="thumb-content">
                                                    <a
                                                            href="
                        {% url 'product:product' slug=product.slug  shop_product_id=product.get_shop_products.first.id %}
                                                                  ">
                                                        <img class="card-img-top img-fluid"
                                                             style="height: 240px !important;"
                                                             src="{{ product.image.url }}" alt="Card image cap">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">
                                                        <a href="
                        {% url 'product:product' slug=product.slug  shop_product_id=product.get_shop_products.first.id %}
                                                                 ">
                                                            {{ product.name|title }}
                                                        </a>
                                                    </h4>
                                                    <ul class="list-inline product-meta">
                                                        <li class="list-inline-item">
                                                            <a>
                                                                <i class="fa fa-dollar"></i>
                                                                <span class="product-price">
                                                                    {{ product.shop_product.all.first.price }}
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a>
                                                                <i class="fa fa-calendar"></i>
                                                                {{ product.create_at }}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <p class="card-text">
                                                        {{ product.detail|truncatechars:40 }}
                                                    </p>
                                                    <div class="product-ratings">
                                                        <ul class="list-inline">
                                                            {% for _ in 'starr'|slice:product.rate_avg %}
                                                                <li class="list-inline-item selected">
                                                                    <i class="fa fa-star"></i>
                                                                </li>
                                                            {% endfor %}
                                                            {% with 5|sub:product.rate_avg as unslected %}
                                                                {% for _ in 'starr'|slice:unslected %}
                                                                    <li class="list-inline-item">
                                                                        <i class="fa fa-star"></i>
                                                                    </li>
                                                                {% endfor %}
                                                            {% endwith %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--============================
                        =          Pagination          =
                        =============================-->
                        {% if is_paginated %}
                            {% include 'components/utils/paginate.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'custom/js/category.js' %}"></script>
    <script src="{% static 'custom/js/utils.js' %}"></script>
{% endblock extra_js %}