{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'custom/css/custom.css' %}">
{% endblock extra_css %}

{% block content %}
    <main>
        <!--===============================
        =         Header Section          =
        ================================-->
        {% include 'components/index/section1.html' %}

        <!--===========================================
        =           Popular Products section          =
        ============================================-->
        {% include 'components/index/section2.html' %}

        <!--==========================================
        =            All Category Section            =
        ===========================================-->
        {% include 'components/index/section3.html' %}

    </main>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'custom/js/utils.js' %}"></script>
{% endblock extra_js %}