{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
    <main>
        <!--===============================
        =            Hero Area            =
        ================================-->
        {% include 'components/index/section1.html' %}

        <!--===================================
        =            Client Slider            =
        ====================================-->
        <!--===========================================
        =            Popular deals section            =
        ============================================-->
        {% include 'components/index/section2.html' %}

        <!--==========================================
        =            All Category Section            =
        ===========================================-->
        {% include 'components/index/section3.html' %}

        <!--====================================
        =            Call to Action            =
        =====================================-->
        {% include 'components/index/section4.html' %}
    </main>
{% endblock content %}