{% extends 'base.html' %}

{% load static %}

{% block title %} Product-{{ product.name }} {% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'custom/css/custom.css' %}">
{% endblock extra_css %}

{% block content %}
    <main>
        <!--===================================
        =           Search Section            =
        ====================================-->
        {% include 'components/utils/search-bar.html' %}

        <!--===================================
        =            Main Section             =
        ====================================-->
        <section class="section bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="product-details">
                            <h1 class="product-title">{{ product.brand|title }}, {{ product.name|title }}</h1>
                            <div class="product-meta">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <i class="fa fa-user-o"></i> By
                                        <a href="">{{ shop_product.shop.name|title }}</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fa fa-folder-open-o"></i> Category
                                        <a href="{% url 'product:category' product.category.slug %}">
                                            {{ product.category|title }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- product slider -->
                            <div class="product-slider">
                                <div class="product-slider-item my-4" data-image="{{ product.image.url }}">
                                    <img class="img-fluid w-100" src="{{ product.image.url }}"
                                         alt="product-img" style="height: 400px !important;">
                                </div>
                                {% for gallery in product.images.all %}
                                    <div class="product-slider-item my-4" data-image="{{ gallery.image.url }}">
                                        <img class="img-fluid w-100" src="{{ gallery.image.url }}"
                                             alt="product-img" style="height: 400px !important;">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="content mt-5 pt-5">
                                <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
                                           href="#pills-home" role="tab" aria-controls="pills-home"
                                           aria-selected="true">Product Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
                                           href="#pills-profile" role="tab" aria-controls="pills-profile"
                                           aria-selected="false">Specifications</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill"
                                           href="#pills-contact" role="tab" aria-controls="pills-contact"
                                           aria-selected="false">Reviews</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <!--===================================
                                    =            Detail Section           =
                                    ====================================-->
                                    {% include 'components/product/detail.html' %}
                                    <!--===================================
                                    =        Specification Section        =
                                    ====================================-->
                                    {% include 'components/product/specifications.html' %}
                                    <!--===================================
                                    =           Reviews Section           =
                                    ====================================-->
                                    {% include 'components/product/reviews.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar -->
                    {% include 'components/product/sidebar.html' %}
                </div>
                {% if product.shop_product.all.count > 1 %}
                    <div class="mt-5 mb-2 border-bottom text-center text-capitalize h4 p-1 text-muted"
                         style="border-bottom-color: #5672F9 !important;">
                        Other shops, That they sell this product.
                    </div>
                    <div class="widget">
                        <ul>
                            <li class="d-flex justify-content-between align-items-center p-3 pl-0 pr-5">
                                <p class="font-weight-bold m-0 border-right pr-5 text-info h6">Shop Name</p>
                                <p class="font-weight-bold m-0 border-left pl-5 text-info h6">Price</p>
                            </li>
                            {% for shopProduct in product.shop_product.all %}
                                {% if shopProduct.id != shop_product.id %}
                                    <li class="d-flex justify-content-between align-items-center border-bottom p-2 ">
                                        <p class="font-weight-bold m-0" style="font-size: 18px;">
                                            {{ shopProduct.shop.name|title }}
                                        </p>
                                        <a href="
                                    {% url 'product:product' slug=product.slug  shop_product_id=shopProduct.id %}
                                            "
                                           class="btn btn-outline-dark">
                                            ${{ shopProduct.price|title }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'custom/js/product.js' %}"></script>
    <script src="{% static 'custom/js/utils.js' %}"></script>
{% endblock extra_js %}