{% extends 'base.html' %}

{% block title %} Shop-{{ shop.name|title }} {% endblock title %}

{% block content %}


    <!--================================
    =            Page Title            =
    =================================-->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h3>{{ shop.name|title }}</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="{{ shop.image.url }}" class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <div class="about-content">
                        <h3 class="font-weight-bold">About Us</h3>
                        <p>
                            {{ shop.detail|capfirst }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================================
    =           Product List           =
    =================================-->
    {% include 'components/shop/product_list.html' %}

    {% if shop.user == user %}
        <!--================================
        =          Call to action          =
        =================================-->
        {% include 'components/shop/call-to-action.html' %}
    {% endif %}

    <!--================================
    =         Summery of activate        =
    =================================-->
    {% include 'components/shop/summery_of_shop.html' %}

{% endblock content %}