#response-visual {
    padding: 20px;
    left: -10px;
    width: 100%;
    background-color: white;
    max-height: 70vh;
    overflow: auto;
    color: #5672F9;
    position: absolute;
    transition: all 4s ease;
    z-index: 5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: none;
}

.btn-add {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    color: #5672F9 !important;
}

.add-icon {
    background: transparent !important;
    color: #5672F9 !important;
    transition: .4s ease;
    font-size: 1px;
}

.btn-add:hover .add-icon {
    color: #00a94e !important;
}

.fa-share-alt {
    position: relative;
    top: 2px;
}

.fa-edit, .fa-bookmark-o, .fa-bookmark {
    position: relative;
    top: 3px;
}

.plus-picture {
    font-size: 0.6em;
    position: relative;
    left: -1px;
    bottom: -6px;
}

.fa-picture-o {
    position: relative;
    left: 5px;
    top: 1px;
}

.item-arrow {
    font-size: .5em;
    position: relative;
    left: 8px;
    bottom: 8px;
}

.item-select {
    position: relative;
    left: 12px;
    top: 1px;
}

.angel-background {
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgb(22, 22, 22);
    border-radius: 50%;
    padding: 5px;
}

.carousel-indicators > li {
    background-color: #000000;
}
