body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.nav-link-hover {
  border-bottom: 2px solid transparent;
}

.nav-link-hover:hover {
  border-bottom: 2px solid #ff5757;
}

.btn-outline-danger {
  color: #ff5757;
  border-color: #ff5757;
}

.text-danger {
  color: #ff5757 !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 900;
}

.rounded {
  border-radius: .70rem!important;
}

.jumbotron {
  padding: 1.5rem 2rem;
}

.section-one-card {
  background-size: cover;
  border-radius: .9rem;
}

.bg-danger {
  background-color: #EF394E !important;
}

.slide-show {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 3rem;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.slide-show > div {
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.slide-show > div:nth-child(2) {
  font-size: 1.2em;
  color: #a7a7a7;
  margin: 30px;
}

.slide-show > a {
  padding: 7px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  background: red;
  transition: .4s ease;
}

.slide-show > a:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  background: darkred;
}

.cards-parent {
  overflow: hidden !important;
}

.card {
  min-width: 300px !important;
}
