/* ================================================ Base */
body,
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.text-danger {
    color: #ff5757 !important;
}

.btn-outline-danger {
    color: #ff5757;
    border-color: #ff5757;
}

.rounded {
    border-radius: .70rem !important;
}

.jumbotron {
    padding: 1.5rem 2rem;
}

.bg-danger {
    background-color: #EF394E !important;
}

/* ============================================== Header */
.shop-basket {
    fill: #95a5a6;
}

svg:hover .shop-basket {
    fill: #ff0202;
}

.nav-link-hover:hover {
    border-bottom: 2px solid #ff5757;
}

.nav-link-hover {
    border-bottom: 2px solid transparent;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 900;
}

/* ============================================== Footer */
.footer-detail {
    background-color: #343A40;
}

.footer-item {
    font-size: 0.8em;
}

/* ============================================ Sections */

.section-one-card {
    background-size: cover;
    border-radius: .9rem;
}

.action-text {
    font-size: .8em;
}

.slide-show {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 3rem;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.slide-show > div {
    color: white;
    font-size: 2em;
    font-weight: bold;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.slide-show > div:nth-child(2) {
    font-size: 1.2em;
    color: #a7a7a7;
    margin: 30px;
}

.action-btn {
    padding: 7px;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    background: red;
    transition: .4s ease;
}

.action-btn:hover {
    padding-top: 15px;
    padding-bottom: 15px;
    background: darkred;
    text-decoration: none;
    color: white;
}

.cards-parent {
    overflow: hidden !important;
}

.card {
    min-width: 300px !important;
}

.card-hover {
    transition: ease 0.6s;
}

.card-hover:hover {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4),
    0 -7px 20px rgba(0, 0, 0, 0.4);
}

.angel-background {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.product-detail {
    display: flex;
    justify-content: center;
    background: rgba(255, 0, 0, 0.5);
}

.product-detailbox {
    height: 400px;
    padding: 40px;
    position: relative;
    left: -20px;
}

.product-detailbox > div {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.product-image {
    height: 350px;
    position: relative;
    left: 20px;
    z-index: 3;
}

.product-container {
    height: 65vh;
}

.basket-item {
    border: 2px solid black;
}

.basket-summery {
    border: 1px solid gray;
}

.basket-line {
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: #ff0202;
    margin-bottom: 10px;
}

.basket-main {
    min-height: 70vh;
}
