<a class="nav-link dropdown-toggle nav-link-hover" id="navbarDropdown" role="button"
   data-toggle="dropdown">
    Category
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <div class="d-flex">
        {% for category in category_list %}
            <div class="mx-2">
                <a class="dropdown-item font-weight-bold" href="{% url 'product:category' category.slug %}">
                    {{ category|title }}
                </a>
                <div class="dropdown-divider"></div>
                {% for children in category.get_children %}
                    <a class="dropdown-item" href="{% url 'product:category' children.slug %}">
                        {{ children|title }}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>