{% load i18n %}

<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
    <div class="sidebar">
        <div class="widget user-dashboard-profile">
            <div class="profile-thumb">
                <img src="{{ user.avatar.url }}" alt="" class="rounded-circle"
                     style="height: 150px !important; width: 150px !important;">
            </div>
            <h5 class="text-center">{{ user.full_name|title }}</h5>
            <p>{{ user.email }}</p>
        </div>
        <div class="widget user-dashboard-menu">
            <ul>
                <li class="active">
                    <a>
                        <i class="fa fa-user"></i>
                        {% translate "My Basket" %}
                    </a>
                </li>
                <li>
                    <a dir="rtl">
                        <i class="fa fa-dollar"></i>
                        {% translate "Total Price" %}
                        <span class="font-weight-bold pr-item-sidebar" style="font-size: .8em">
                            {% if cart.total_price %}
                                ${{ cart.total_price }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-shopping-cart"></i>
                        {% translate "Products Quantity" %}
                        <span style="font-size: .8em" class="pr-item-sidebar">
                            {{ cart.cart_item.all.count }}
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-paypal"></i>
                        {% translate "Pay Method" %}
                        <span style="font-size: .8em" class="pr-item-sidebar">
                            PayPall
                        </span>
                    </a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#deleteaccount"
                       class="btn btn-outline-info">
                        <i class="fa fa-arrow-up"></i>
                        {% translate "Submit Order" %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal fade" id="deleteaccount" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <form action="{% url 'order:submit_order' %}" method="post">
                {% csrf_token %}
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="{{ user.avatar.url }}" class="img-fluid mb-2" alt="">
                            <div>
                                <textarea placeholder="Description..." name="description" cols="30" rows="6"></textarea>
                            </div>
                            <a>
                                {% translate "Total Price:" %}
                                <span class="font-weight-bold" style="font-size: .8em">
                            {% if cart.total_price %}
                                <i class="fa fa-dollar"></i>{{ cart.total_price }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                            </a>
                        </div>
                        <div class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                {% translate "Cancel" %}
                            </button>
                            <button type="submit" class="btn btn-success">
                                {% translate "Pay" %}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
