{% load i18n %}

<div class="category-sidebar">
    <div class="widget category-list">
        <h4 class="widget-header">
            {% translate "All Category" %}
        </h4>
        <ul class="category-list">
            {% for category in all_category %}
                <li>
                    <a href="{% url 'product:category' category.slug %}">
                        {{ category|capfirst }} <span>{{ category.get_products.count }}</span>
                    </a>
                </li>
            {% empty %}
                <li class="text-muted">
                    <span>
                        {% translate "There is no subcategory." %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget category-list">
        <h4 class="widget-header">
            {% translate "SubCategory" %}
        </h4>
        <ul class="category-list">
            {% for child in category.get_children %}
                <li>
                    <a href={% url 'product:category' child.slug %}>
                        {{ child|capfirst }} <span>{{ child.get_products.count }}</span>
                    </a>
                </li>
            {% empty %}
                <li class="text-muted">
                    <span>
                        {% translate "There is no subcategory." %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget filter">
        <h4 class="widget-header">
            {% translate "Filter By" %}
        </h4>
        <form action="" id="filter-form"></form>
        <select onchange="submitForm()" form="filter-form" name="filter">
            <option>-----</option>
            <option value="top_rated">
                {% translate "Top rated" %}
            </option>
            <option value="lowest_price">
                {% translate "Lowest Price" %}
            </option>
            <option value="highest_price">
                {% translate "Highest Price" %}
            </option>
        </select>
    </div>
    <div class="widget price-range w-100">
        <h4 class="widget-header">
            {% translate "Price Range" %}
        </h4>
        <div class="block" onchange="priceRangeFilter()">
            <input class="range-track w-100" type="text" data-slider-min="0"
                   data-slider-max="5000" data-slider-step="5"
                   data-slider-value="[0,5000]" id="price-range">
            <div class="d-flex justify-content-between mt-2">
                <span class="value">$10 - $5000</span>
            </div>
        </div>
    </div>
</div>
