{% load mathfilters %}
<div class="tab-pane fade" id="pills-contact" role="tabpanel"
     aria-labelledby="pills-contact-tab">
    <h3 class="tab-title">Product Review</h3>
    <div class="product-review">
        <div id="list-inline">
            {% for comment in product.comments.all %}
                <div class="media">
                    <img src="{{ comment.user.avatar.url }}" alt="avatar"
                         style="height: 70px !important; width: 70px !important;">
                    <div class="media-body">
                        <div class="ratings">
                            <ul class="list-inline">
                                {% for _ in "starr"|slice:comment.rate %}
                                    <li class="list-inline-item">
                                        <i class="fa fa-star"></i>
                                    </li>
                                {% endfor %}
                                {% with 5|sub:comment.rate as empty_num %}
                                    {% if empty_num > 0 %}
                                        {% for _ in "starr"|slice:empty_num %}
                                            <li class="list-inline-item">
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </ul>
                        </div>
                        <div class="name">
                            <h5>{{ comment.user.full_name|title }}</h5>
                        </div>
                        <div class="date">
                            <p>{{ comment.create_at.date }}</p>
                        </div>
                        <div class="review-comment">
                            <p>
                                {{ comment.text }}
                            </p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="my-5 py-5 text-muted font-weight-bold h2 text-center" id="no-comments">
                    There is no comment yet.
                </div>
            {% endfor %}
        </div>
        <div class="review-submission">
            <h3 class="tab-title">Submit your review</h3>
            <!-- Rate -->
            <div class="rate">
                <div class="starrr"></div>
            </div>
            <div class="review-submit">
                <div class="row">
                    <div class="col-12">
                        <input type="text" id="product-slug" value="{{ product.pk }}" hidden>
                        <input type="text" id="user-id" value="{{ user.pk }}" hidden>
                        <textarea name="review" id="review" rows="10"
                                  class="form-control"
                                  placeholder="Write your review here ...">
                        </textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-main"
                                onclick="sendCommentResponse()">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
