<div class="col-md-4">
    <div class="sidebar">
        <div class="widget price text-center">
            <h4>Price</h4>
            <p>${{ product.get_shop_products.first.price }}</p>
        </div>
        <!-- User Profile widget -->
        <div class="widget user text-center">
            <img class="rounded-circle img-fluid mb-5 px-5" style="width: 200px !important; height: 100px !important;"
                 src="{{ product.get_shop_products.first.shop.image.url }}" alt="">
            <h4><a href="">{{ product.get_shop_products.first.shop.name|title }}</a></h4>
            <p class="member-time">{{ product.get_shop_products.first.shop.create_at.date }}</p>
            <ul class="list-inline mt-20">
                <li class="list-inline-item">
                    <a href=""
                       class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">See Other Products
                    </a>
                </li>
            </ul>
        </div>
        <div class="widget disclaimer">
            <h5 class="widget-header">Safety Tips</h5>
            <ul>
                <li>Meet seller at a public place</li>
                <li>Check the item before you buy</li>
                <li>Pay only after collecting the item</li>
                <li>Pay only after collecting the item</li>
            </ul>
        </div>


    </div>
</div>
