{% load static %}

{% load i18n %}

<div class="col-md-4">
    <div class="sidebar">
        <div class="widget price text-center">
            <h4>
                {% translate "Price" %}
            </h4>
            <p>${{ shop_product.price }}</p>
        </div>
        <div class="widget user text-center">
            <img class="rounded-circle img-fluid mb-5 px-5" style="width: 200px !important; height: 100px !important;"
                 src="{{ shop_product.shop.image.url }}" alt="">
            <h4>{{ shop_product.shop.name|title }}</h4>
            <p class="member-time">{{ shop_product.shop.create_at.date }}</p>
            <ul class="list-inline mt-20">
                <li class="list-inline-item">
                    <a href="{% url 'product:shop_product_list' slug=shop_product.shop.slug %}"
                       class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">
                        {% translate "See Other Products" %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="widget disclaimer">
            <h5 class="widget-header">
                {% translate "Safety Tips" %}
            </h5>
            <ul>
                <!-- Point's -->
                <li>Meet seller at a public place</li>
                <li>Check the item before you buy</li>
                <li>Pay only after collecting the item</li>
                <li>Pay only after collecting the item</li>
            </ul>
        </div>
        <!-- Rate Widget -->
        <div class="widget rate">
            <div class="d-flex justify-content-center">
                <span class="py-2 px-5 border product-side-option" id="like-product" onclick="sendLikeResponse()">
                    {% if product.id in product.likes.all.first.user_is_liked %}
                        <i class="fa fa-bookmark"></i>
                    {% else %}
                        <i class="fa fa-bookmark-o alt-color"></i>
                    {% endif %}
                </span>
                <span class="py-2 px-5 border product-side-option">
                    <i class="fa fa-share-alt"></i>
                </span>

            </div>
        </div>
        {% if user == shop_product.shop.user %}
            <div class="widget rate">
                <div class="d-flex justify-content-center">
                    <span class="py-2 px-4 border product-side-option">
                        <a href="{% url 'product:edit_product' slug=product.slug shop_product_id=shop_product.id %}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </span>
                    <span class="py-2 px-4 border product-side-option" dir="ltr">
                        <a href="{% url 'product:add_product_image' product.slug shop_product.id %}">
                            <i class="fa fa-picture-o"></i>
                            <i class="fa fa-plus plus-picture"></i>
                        </a>
                    </span>
                    <span class="py-2 px-4 border product-side-option" dir="ltr">
                        <a href="#">
                            <i class="fa fa-list-ul item-select"></i>
                            <i class="fa fa-long-arrow-down item-arrow"></i>
                            <i class="fa fa-plus plus-picture"></i>
                        </a>
                    </span>
                </div>
            </div>
        {% endif %}
        <div class="widget coupon text-center">
            <input type="text" hidden value="{{ shop_product.id }}" id="shopProduct-id">
            <a href="" class="btn btn-transparent-white" onclick="addToCartAjax()" id="add-to-cart">
                {% translate "Add To Cart" %}
                <span class="px-2">
                    <img src="{% static 'images/cart.png' %}" alt="" style="height: 2rem; width: auto">
                </span>
            </a>
        </div>
    </div>
</div>
