{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% translate "sending email is successful" %}
{% endblock title %}

{% block content %}

    <main>
        <main style="height: 70vh;" class="d-flex justify-content-center align-items-center">
            <div class="text-muted font-weight-bold display-4">
                {% translate "Email sent successful." %}
                <div>
                    <a href="{% url 'siteview:home' %}" class="btn btn-danger">
                        {% translate "Back to home" %}
                    </a>
                    <a href="{% url 'account:login' %}" class="btn btn-danger">
                        {% translate "Login" %}
                    </a>
                </div>
            </div>
        </main>
    </main>

{% endblock content %}
