{% extends 'base.html' %}
{% load static %}
{% block title %} Sign Up {% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'auth/css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'auth/responsive/responsive.css' %}">
{% endblock extra_css %}
{% block content %}
    <main class="auth-main d-flex justify-content-center align-items-center">
        <div class="auth-container">

            <div class="text-center font-weight-bold w-100 my-4 display-4">Welcome</div>

            <form class="my-2" method="post" action="{% url 'account:register' %}">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors|title }}
                    </div>
                {% endif %}
                <div class="d-flex align-items-center flex-column">
                    <div class="my-3 d-flex justify-content-center w-50 position-relative">
                        {{ form.email }}
                        <label for="id_email" class="input-placeholder">Email</label>
                        <span class="input-border"></span>
                    </div>
                    <div class="my-3 d-flex justify-content-center w-50 position-relative">
                        {{ form.full_name }}
                        <label for="id_full_name" class="input-placeholder">Name</label>
                        <span class="input-border"></span>
                    </div>
                    <div class="my-3 d-flex justify-content-center w-50 position-relative">
                        {{ form.password }}
                        <label for="id_password" class="input-placeholder">Password</label>
                        <span class="input-border"></span>
                    </div>
                    <div class="my-3 d-flex justify-content-center w-50 position-relative">
                        {{ form.password2 }}
                        <label for="id_password2" class="input-placeholder">Confirm Password</label>
                        <span class="input-border"></span>
                    </div>
                </div>
                <div class="my-3 d-flex justify-content-center">
                    <button class="btn btn-success rounded-pill w-50">Sing Up</button>
                </div>
            </form>

            <ul class="text-muted d-flex align-items-center flex-column">
                <li>
                    <span>Do you have an account?</span>
                    <a href="{% url 'account:login' %}" class="text-decoration-none">Sign In</a>
                </li>
            </ul>

        </div>
    </main>
{% endblock content %}
