<!-- Paginate -->
<div class="d-flex justify-content-center mt-5 mb-2">
    {% if page_obj.has_next or page_obj.has_previous %}
        {% if is_search %}
            <span>
                {% if page_obj.has_previous %}
                    <a href="?search={{ search_key }}&page=1"
                       class="badge badge-secondary">
                        first
                    </a>
                    -
                    <a href="?search={{ search_key }}&page={{ page_obj.previous_page_number }}"
                       class="badge badge-danger">
                        previous
                    </a>
                {% endif %}

                <span class="text-muted">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?search={{ search_key }}&page={{ page_obj.next_page_number }}"
                       class="badge badge-danger">
                            next
                        </a>
                    -
                    <a href="?search={{ search_key }}&page={{ page_obj.paginator.num_pages }}"
                       class="badge badge-secondary">
                            last
                        </a>
                {% endif %}
            </span>
        {% else %}
            <span>
                {% if page_obj.has_previous %}
                    <a href="?page=1"
                       class="badge badge-secondary">
                        first
                    </a>
                    -
                    <a href="?page={{ page_obj.previous_page_number }}"
                       class="badge badge-danger">
                        previous
                    </a>
                {% endif %}

                <span class="text-muted">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"
                       class="badge badge-danger">
                            next
                        </a>
                    -
                    <a href="?page={{ page_obj.paginator.num_pages }}"
                       class="badge badge-secondary">
                            last
                        </a>
                {% endif %}
            </span>
        {% endif %}
    {% endif %}
</div>