{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block title %} {% translate "Cart" %}-{{ user.full_name|title }} {% endblock title %}

{% block content %}
    <main>
        <!--==================================
        =                Cart                =
        ===================================-->
        <section class="dashboard section">
            <div class="container">
                <div class="row">
                    {% include 'components/cart/sidebar.html' %}
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                        <div class="widget dashboard-container my-adslist">
                            <h3 class="widget-header">
                                {% translate "Products" %}
                            </h3>
                            {% if cart.cart_item.all_unique %}
                                <table class="table table-responsive product-dashboard-table">
                                    <thead>
                                    <tr>
                                        <th>
                                            {% translate "Image" %}
                                        </th>
                                        <th>
                                            {% translate "Product Title" %}
                                        </th>
                                        <th class="text-center">
                                            {% translate "Category" %}
                                        </th>
                                        <th class="text-center">
                                            {% translate "Action" %}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart.cart_item.all_unique %}
                                        <tr id="item-container{{ forloop.counter }}">
                                            <td class="product-thumb">
                                                <img width="80px" height="auto"
                                                     src="{{ item.shop_product.product.image.url }}"
                                                     alt="image description">
                                            </td>
                                            <td class="product-details">
                                                <h3 class="title">
                                                    {{ item.shop_product.product.name|title }}
                                                </h3>
                                                <span class="add-id">
                                                <strong>
                                                    {% translate "Brand:" %}
                                                </strong>
                                                    {{ item.shop_product.product.brand|title }}
                                            </span>
                                                <span>
                                                <strong>
                                                    {% translate "Posted on:" %}
                                                </strong>
                                                    <time>{{ item.shop_product.product.create_at }}</time>
                                            </span>
                                                <span class="status active">
                                                <strong>{% translate "Price" %}</strong>
                                                    ${{ item.shop_product.price }}
                                            </span>
                                                <span class="location" id="item-quantity{{ forloop.counter }}">
                                                <strong>{% translate "Quantity" %}</strong>
                                                    {{ item.count_same.count }}
                                            </span>
                                            </td>
                                            <td class="product-category">
                                            <span class="categories">
                                                {{ item.shop_product.product.category|title }}
                                            </span>
                                            </td>
                                            <td class="action" data-title="Action">
                                                <div>
                                                    <ul class="list-inline justify-content-center">
                                                        <li class="list-inline-item">
                                                            <a data-toggle="tooltip" data-placement="top" title="View"
                                                               class="view"
                                                               href="{% url 'product:product' item.shop_product.product.slug item.shop_product.id %}">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a data-toggle="tooltip" data-placement="top" title="Delete"
                                                               class="delete" href="#id-list{{ forloop.counter }}"
                                                               onclick="getPk({{ forloop.counter }})">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                            <input id="id-list{{ forloop.counter }}"
                                                                   value="{{ item.same_product_id }}" hidden>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="d-flex justify-content-center py-4 h4">
                                    <span class="text-muted py-4">
                                        {% translate "Basket is empty." %}
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'custom/js/cart.js' %}"></script>
{% endblock extra_js %}