.auth-main {
    min-height: 70vh;
}

.auth-container {
    width: 50%;
}

.auth-display {
    font-size: 2rem;
}

.auth-input {
    border: none;
    padding: 0 10px;
    font-size: 1.2em;
    outline: none;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.input-placeholder {
    position: absolute;
    left: 5px;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.4s ease;
}

.auth-input:focus + .input-placeholder,
.auth-input:valid + .input-placeholder {
    transform: translateY(-130%);
    font-size: 0.8em;
}

.input-border {
    position: absolute;
    transition: 0.4s ease;
    width: 0;
    height: 1px;
    bottom: 0;
}

.auth-input:focus ~ .input-border {
    background-color: #FF5757;
    width: 100%;
}

.auth-input:valid ~ .input-border {
    background-color: #28A745;
    width: 100%;
}
