{% load i18n %}

<section class="call-to-action overly bg-3 section-sm">
    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-md-8">
                <div class="content-holder">
                    <ul class="list-inline mt-30">
                        <li class="list-inline-item">
                            <a class="btn btn-main"
                               href="{% url 'product:add_product' %}">
                                {% translate "Add Product" %}
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-secondary"
                               href="{% url 'product:edit_shop' slug=shop.slug %}">
                                {% translate "Edit Shop" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>